page-dashboard {
    // Menu user profile
    .user-profile {
        border-bottom: 1px solid #5555661f;
        .user-avatar {
          width: 58px;
          height: 58px;
          display: inline-block;
          border-radius: 50%;
          box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
          img {
            border-radius: 50%;
          }
        }   
      }
}
