<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar showCancelButton="true"></ion-searchbar>    
  </ion-navbar>
</ion-header>

<ion-content>     
    <ion-card *ngFor="let produto of lista_produtos">
        <ion-item (click)="goToProductPage(produto)">
            <ion-thumbnail item-start>
              <img src="https://dev.autodicas.com/{{ produto.imagem }}">
            </ion-thumbnail>
            <h2>{{ produto.titulo }}</h2>
            <p *ngFor="let loja of produto.loja" ><strong>Vendedor:</strong> {{ loja.razao_social }}</p>
            <p>R$ {{ produto.valor_format }}</p>
          </ion-item>        
    </ion-card>
    <ion-fab center bottom>
      <button ion-fab (click)="goToLoginPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>