<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" (ionInput)="getItems($event)"></ion-searchbar>    
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div padding>
        <ion-segment>
          <ion-segment-button (click)="openCategorias()" value="categorias">
            Categorias
          </ion-segment-button>
          <ion-segment-button (click)="openLojas()" value="lojas">
            Lojas
          </ion-segment-button>
        </ion-segment>
      </div>

    <ion-card *ngFor="let produto of lista_produtos">
        <ion-item (click)="goToProductPage(produto)">
            <ion-thumbnail item-start>
              <img src="https://dev.autodicas.com/{{ produto.imagem }}">
            </ion-thumbnail>
            <h2>{{ produto.titulo }}</h2>
            <p *ngFor="let loja of produto.loja" ><strong>Vendedor:</strong> {{ loja.razao_social }}</p>
            <p>R$ {{ produto.valor_format }}</p>
          </ion-item>        
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab right bottom>
      <button ion-fab (click)="goToLoginPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>