<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhe do Produto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid *ngIf="detalheProduto">
        <ion-row>
          <ion-col col-12>
            <h4> {{ detalheProduto.titulo }} </h4>
            <img src="https://dev.autodicas.com/{{ detalheProduto.imagem }}">
            <p>R$ {{detalheProduto.valor_format }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <h4>Detalhe do produto</h4>
            <p> {{detalheProduto.descricao }} </p>
          </ion-col>
          <ion-col col-12>
              <h4>Localização</h4>
              <ion-card *ngFor="let loja of detalheProduto.loja">
                  <ion-card-content>
                      <ion-list>Loja: {{ loja.razao_social }}</ion-list>
                      <ion-list>Telefone: </ion-list>
                      <ion-list>CEP: {{ loja.cep }}</ion-list>
                      <ion-list>Endereço: {{ loja.endereco }}, {{ loja.numero }}</ion-list>
                      <ion-list>Bairro: {{ loja.bairro }}</ion-list>
                      <ion-list>Cidade: </ion-list>
                  </ion-card-content>                
                </ion-card>
              
              <h4>Dicas de segurança</h4> 
              <ion-card>                  
                  <ion-card-content>
                      <ion-list><ion-icon name="checkmark"></ion-icon> Ligue para loja</ion-list>
                      <ion-list><ion-icon name="checkmark"></ion-icon> Diga que viu no autodicas</ion-list> 
                      <ion-list><ion-icon name="checkmark"></ion-icon> Confirme se tem o produto</ion-list> 
                      <ion-list><ion-icon name="checkmark"></ion-icon> Confirme o preço</ion-list>
                  </ion-card-content>                
                </ion-card>                
            </ion-col>
          </ion-row>                   
      </ion-grid>
      <ion-fab right bottom>
          <button ion-fab color="danger"><ion-icon name="md-share"></ion-icon></button>
          <ion-fab-list side="top">
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab (click)="whatsappShare()"><ion-icon name="logo-whatsapp"></ion-icon></button>
          </ion-fab-list>
      </ion-fab>     
</ion-content>
