<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhe do Produto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid *ngIf="detalheProduto">
        <ion-row>
          <ion-col col-12>
            <h4> {{ detalheProduto.titulo }} </h4>
            <img src="https://dev.autodicas.com/{{ detalheProduto.imagem }}">
            <p>R$ {{detalheProduto.valor_format }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <h4>Detalhe do produto</h4>
            <p> {{detalheProduto.descricao }} </p>
          </ion-col>
          <ion-col col-12>
              <ion-card *ngFor="let loja of detalheProduto.loja">
                  <ion-card-header>
                    Localização
                  </ion-card-header>
                
                  <ion-card-content>
                      <ion-list>Loja: {{ loja.razao_social }}</ion-list>
                      <ion-list>Telefone: </ion-list>
                      <ion-list>CEP: {{ loja.cep }}</ion-list>
                      <ion-list>Endereço: {{ loja.endereco }}</ion-list>
                      <ion-list>Bairro: {{ loja.bairro }}</ion-list>
                      <ion-list>Cidade: </ion-list>
                  </ion-card-content>                
                </ion-card>

              <ion-card>
                  <ion-card-header>
                    Dicas de segurança
                  </ion-card-header>
                
                  <ion-card-content>
                      <ion-list>Ligue para loja</ion-list>
                      <ion-list>Diga que viu no autodicas</ion-list> 
                      <ion-list>Confirme se tem o produto</ion-list> 
                      <ion-list>Confirme o preço</ion-list>
                  </ion-card-content>                
                </ion-card>

                <ion-card>
                    <ion-card-header>
                      Divulgar nas redes sociais
                    </ion-card-header>
                  
                    <ion-card-content>
                        <ion-icon class="fa-twitter"></ion-icon>
                        <ion-icon class="fa-whatsapp"></ion-icon>
                        <ion-icon class="fa-facebook"></ion-icon>
                    </ion-card-content>                
                  </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
